.App {
  transition: all 0.2s;
}

.dark {
  background-color: #123;
}

.light {
  background-color: aliceblue;
}

.about-text-hover {
  color: teal;
  transition: font-size 0.5s;
}

.about-text-hover:hover {
  font-size: larger;
  cursor: pointer;
}

.image-hover {
  transition: box-shadow 0.2s;
}

.image-hover:hover {
  box-shadow: 2px 2px grey;
}

.links-responsive {
  @media (max-width: 800px) {
    display: flex;
    flex-direction: 'column';
  }
}
